<%- include('./partials/header.ejs')%>
<h1>Welcome to Beer with the Boys!</h1>
<p>
    Like beer? Like people? Like hanging out with people? 
    Then this is the website for you!<br> <br>
    This website will allow you to attend or create events for 
    people who also enjoy consuming beer. 
    From group events at bars to just a 
    casual BYOB video game hangout, the creativeness of these events knows no limits. 
    <br> <br>
    Check out our <a href="/connections">connections</a> page to see our upcoming events!
    <br><br>
    Want to create your own event? Click the link in the top right of the website!

</p>
<%- include('./partials/footer.ejs')%>