<%- include('../partials/header.ejs')%>
<h3>About Us</h3>
<p>
    This website was created with the intent of bringing people together for events 
    based on a mutual love for beer. <br>
    The goal of this website is to help people meet and make new friends by creating and attending various events.
</p>

<%- include('../partials/footer.ejs')%>