<%- include('../partials/header.ejs')%>
<h3>Contact Information:</h3>
<p>
My Email: mburkey2@uncc.edu <br>
Call our support team if you are experiencing issues: 704-657-0987
</p>

<%- include('../partials/footer.ejs')%>